
@font-face {
    font-family: 'Arial Regular';
    src: 'fonts/arial.ttf';
}


/** Reset styles **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



/** Variables **/

:root {
    --primary-color: #5c9434;
    --text-color: #787878;
    --gray-color: #ececec;
    --amarillo: #F0C108;
}

/** Usefull classes **/ 

.wrapper {
    max-width: 75%;
    margin: auto;
}
.wrapper-md {
    max-width: 60%;
    margin: auto;
}
.text {    
    padding-right: 1%;
    font-family: 'Arial Regular';
    color: var(--text-color);
    
}
.padded{
    padding-top: 90px;
    padding-bottom: 90px;
}


.grid {
    display:grid
}
.grid.cols-2 {
    grid-template-columns: 1fr 1fr;
}
.grid.cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid.cols-4 {
    grid-template-columns:  1fr 1fr 1fr 1fr;
}



/** End basis **/

.header {
    margin-bottom: 20px;
}
.header-nav {
    background-color: var(--primary-color);
    border-radius: 5px;
}
.header-nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.header-nav-menu__item {

}
.header-nav-menu__item a {
    display: block;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
}




/** Banner slider **/

.swiper {
    z-index: 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.banner-slider-slide__img {
    height: 100%;
    width: 100%;
}



.banner-slider-prev,
.banner-slider-next {
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff !important
}

.banner-slider-prev:after,
.banner-slider-next:after {
    font-size: inherit !important;
}


/** Title section **/

.title-section {
    background-color: var(--gray-color);
}

.title-section__title {
    font-size: 45px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.title-section__subtitle {
    font-size: 28px;
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.title-section-content {
    padding: 60px 50px;
    background-color: #ffffff;
    transform: translateY(-75px);
}

.title-section-content-left {
    display: flex;
    align-items: center;
}

.title-section-content-right{
    padding-left: 5%;
}



/** Content **/

.content {
    height: 600px;
}

/* Section Mision */
.mision{
    padding: 6% 0;
    margin: auto;
    border: 1px solid;
}


/*Section Frutas*/
.frutas-principal-fondo{
    height: 100%;
    width: 100%;
}

/*Footer*/
.main-footer{
    background-color: var(--primary-color);
    height: 400px;
    width: 100%;
}

.footer-content{
    /*border: 1px solid;*/
    padding: 20px 50px;
    max-width: 90%;
    margin: auto;
}

.footer-content_left{
    display: block;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-content__title{
    color: var(--amarillo);
    align-self: center;
    margin: auto;
}

.footer-content__subtitle{    
    color: white;
}

.footer-text{
    font: Arial Regular;
    color: white;
    text-align: left;
}

.footer-subtitle{
    display: flex;
    padding-top: 3%;
}

.footer-content_mid{
    display: block;
    padding: 20px 20px;    
}

.social-icon{
    padding: 0 3%;
}

.footer-content_right{
    display: block;
    padding: 20px 20px;    
}

/* Productos Section */
.productos-section {
    background-color: var(--gray-color);
}

.productos-section__title {
    font-size: 45px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.productos-section-content {
    padding: 60px 50px;
    background-color: #ffffff;
    transform: translateY(-75px);
}

.productos-section-content-left {
    display: flex;
    align-items: center;
}

.productos-section-content-right{
    padding-left: 5%;
    align-self: center;
}

/*Galeria de Frutas*/

.galeria {
    background-color: var(--color1);
    color: var(--color-blanco);
}

.galeria figure{
    position: relative;
}

figure{
    margin-bottom: 0;
}

.container{
    max-width: 1600px;
}

.galeria-grid {
    gap: 20px
}